
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    border-color: rgb(6, 16, 32);
    background-color: rgba(190, 190, 190, 0.493);
}

.form {
    background-image: linear-gradient(to left ,rgb(59, 127, 216), blue);
    width: 400px;
    height: 600px;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 16px;
    padding: 120px 50px;
    box-shadow: 2px 2px 8px black;
}
.img-overlay::before {
    content: "";
    background-image:url(../img/web-1935737_640.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.18;
    width: 400px;
    height: 600px;
    border-radius: 16px;
    z-index: -1;

}

.icon {
    position: absolute;
    top: 20px;
    right: 30px;
    color: rgb(192, 201, 209);
    cursor: pointer;
    font-size: 1.2rem;
    opacity: 0.6;
} 
.icon:hover {
    opacity: 1;
    transition: 0.3s ease-in-out;
}
.form h1 {
    color: white;
    font-size: 1rem;
    text-align: left;
    margin-bottom: 3rem;
}
.inputs {
    display: flex;
    flex-direction: column;     
    justify-content: center;
    align-items: flex-start;
    color: white;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid lightgray;
}
.inputs:hover {
    border-bottom: 2px solid white;
    transition: 0.2s ease-in-out;
 
}

#password,
#password::placeholder {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    color: rgb(202, 202, 202);
    margin-top: 0.5rem;
    font-size: 0.9rem;
    padding-bottom: 0.4rem;
}
#password2,
#password2::placeholder {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    color: rgb(202, 202, 202);
    margin-top: 0.5rem;
    font-size: 0.9rem;
    padding-bottom: 0.4rem;
}
#email,
#email::placeholder {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    color: rgb(202, 202, 202);
    margin-top: 0.5rem;
    font-size: 0.9rem;
    padding-bottom: 0.4rem;
}
.button {
     width: 50%; 
      border: 1px solid white;
     background: transparent;
     font-size: 0.8rem;
     border-radius: 30px;
     margin: 0.8rem;
     padding: 0.3rem 0;
     font-weight: bold;
     text-transform: uppercase;
     color: white;
     outline: none;
     cursor: pointer;
}

.button:hover {
    width: 50%;
    background: white;
    color: blue;
    transition: 0.5s;
    border: 1px solid white;
}
p{
    color: rgb(202, 202, 202);
    font-size: 0.8rem;
}